<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class = "flagcontainer">
        <h1>Welcome to Globalviews! To view a country's information, click on their flag!</h1>
        <div class = "flagleft">
            <form action="/user" id="form_id" method="POST">
                <input type="hidden" name="code" id="code" value="us">
                <input type="hidden" name="category" id="category" value="zero">
                <input type="submit" value="Go to user page"></input>
            </form>
            <form action="/login" method="GET">
                <input type="submit" value="Logout"></input>
            </form>
        </div>
        <div class = "flagright">
            <div class="container" id="fav_container">
            </div>
            <div class="container" id="container">
                <script type="text/javascript" src="/static/flag.js"></script>
            </div>
        </div>
    </div>
</body>

</html>