<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login Page yay</h1>
        <form action="/home" method="GET">
            <input type="submit" value="Go to homepage"></input>
        </form>
        <form action="/user" method="POST">
            <input type="hidden" name="code" id="code" value="us">
            <input type="submit" value="Go to user page"></input>
        </form>
        <a href ='/login'><button>Login</button></a>
    </body>
</html>