<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>User Page</title>
</head>

<body>
    <h1>User Page yay</h1>
    <form action="/home" method="GET">
        <input type="submit" value="Go to home page"></input>
    </form>
    <form action="/login" method="GET">
        <input type="submit" value="Go to login page"></input>
    </form>

    <div class="container">
        <div class="item"><img src="../resources/br.png" alt="BR"></div>
        <div class="item"><img src="../resources/ca.png" alt="CA"></div>
        <div class="item"><img src="../resources/eg.png" alt="EG"></div>
        <div class="item"><img src="../resources/es.png" alt="ES"></div>
        <div class="item"><img src="../resources/fi.png" alt="FI"></div>
        <div class="item"><img src="../resources/hu.png" alt="HU"></div>
        <div class="item"><img src="../resources/id.png" alt="ID"></div>
        <div class="item"><img src="../resources/ie.png" alt="IE"></div>
        <div class="item"><img src="../resources/it.png" alt="IT"></div>
        <div class="item"><img src="../resources/jp.png" alt="JP"></div>
        <div class="item"><img src="../resources/kr.png" alt="KR"></div>
        <div class="item"><img src="../resources/no.png" alt="NO"></div>
        <div class="item"><img src="../resources/np.png" alt="NP"></div>
        <div class="item"><img src="../resources/pe.png" alt="PE"></div>
        <div class="item"><img src="../resources/ph.png" alt="PH"></div>
        <div class="item"><img src="../resources/ru.png" alt="RU"></div>
        <div class="item"><img src="../resources/se.png" alt="SE"></div>
        <div class="item"><img src="../resources/sg.png" alt="SG"></div>
        <div class="item"><img src="../resources/ug.png" alt="UG"></div>
        <div class="item"><img src="../resources/us.png" alt="US"></div>
        <div class="item"><img src="../resources/vn.png" alt="VN"></div>
        <div class="item"><img src="../resources/ye.png" alt="YE"></div>
    </div>
</body>

</html>